.movies {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #161616;

  @include viewTabLandscape {
    display: flex;
  }
}

.movie-resize-hide {
  transform: translateX(-100%);
}

.hide {
  display: none;
}
